
.care-box {
    min-height: 100vh;
    font-size: 36rpx;
    color: #333;
    background-color: #E1EEF7;
}

.care-common-title {
    padding: 60rpx 30rpx 40rpx 30rpx;
    font-size: 40rpx;
    font-weight: 600;
    color: #333;
}